.header{
 display: flex;
 justify-content: space-between;
 border: 1px solid black;
}
.logo{
    width: 140px;
}
.nav-items > ul{
    display: flex;
    font-size: 20px;
    list-style: none;
}
.nav-items{
    padding: 0px 50px;
}
.nav-items > ul >li{
    padding-right: 20px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.res-card{
width: 190px;
margin: 10px;
padding: 5px;
background-color: #f0f0f0;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-logo{
    width: 100%;
    height: 160px;
}
.btn-filter{
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    background-color: #f0f0f0;
    width: 200px;
    height: 450px;
    margin: 20px;
}
.login{
    padding: 5px;

}
.filter{
    display: flex;
    padding: 10px;
}
.search-text{
    padding: 10px;
    
}
.search-btn{
    padding: 10px;
}
.user-card{
    width: auto;;
    height: fit-content;;
    border: solid black;
}